body{
  margin: 0;
  padding: 0;
}

.box{
  /*height: 90px;
  width: 90px;    added in JS*/ 
  display: inline-block;
  border-style: solid;
}

.blue_box{
  background-color: blue;
}

#top_div > div{
  display: inline-block;
  float: left;
  clear: both;
  line-height: 0px;
  margin-left: auto;
  margin-right: auto;
}

#top_div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*position: absolute;
  */right: 35%;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
    background-color: red;
    color: white;
}